@using Bilet_15.Areas.Admin.ViewModels.Worker
@model UpdateWorkerVm


<div class="container" mt-5>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="FullName">FullName</label>
            <input asp-for="FullName" class="form-control" placeholder="Enter FullName">
            <span>asp-validation-for="FullName"</span>
        </div>
        <div class="form-group">
            <label asp-for="Desicnation">Desicnation</label>
            <input asp-for="Desicnation" class="form-control" placeholder="Enter Desicnation">
            <span>asp-validation-for="Desicnation"</span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFile">ImageFile</label>
            <input asp-for="ImageFile" accept="image/*" class="form-control">
            <span asp-validation-for="ImageFile"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
